body{
	background: #0a0a0a;
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow : hidden;
}

.content{
	font-family: monospace;
    margin: auto;
	color: white;
	padding: 2%;;
}

#title{
	text-align: center;
	text-transform: uppercase;
	font-size : 4em;
	border-bottom : solid 1px white;
}

#text{
	text-align: left;
	font-size : 1.25em;

}